{% extends "layout.html" %}
{% block content %}

<h1 class="mt-5 myFonts" >Orders</h1>
<hr><br>

<div class="row mt-3 h-100 justify-content-center align-items-center">

    
    <div class="col-md-3 col-sm-3 my-auto text-center border">
        <!-- name -->
        <p><b>Clint</b></p>
    </div>
    <div class="col-md-4 col-sm-4 my-auto text-center border">
        <!-- dish name -->
        <p ><b>Dish</b></p>
    </div>
    <!-- <div class="col-md-2 my-auto ">
         dish icon
        <b></b>
    </div> -->
    <div class="col-md-1 col-sm-1 my-auto text-center border">
        <!-- quantity -->
        <p><b>Quantity</b></p>
    </div>
    <div class="col-md-2 col-sm-2 my-auto text-center border">
        <!-- quantity -->
        <p><b>Location</b></p>
    </div>
    
    <div class="col-md-2 col-sm-2 my-auto text-center border">
        <p><b>Action</b></p>
    </div>    

</div>


{% for k in objectList %}

       
    <div class="row mt-3 h-100 justify-content-center align-items-center">

        <div class="col-md-1">
            <!-- image -->
            <img class="rounded-circle article-img" src="{{k['clintPhotoUri']}}" alt="image">
        </div>
        <div class="col-md-2 my-auto">
            <!-- name -->
           <a href="{{ url_for('admin.user_profile', uid=k['clintUID'] ) }}"><p>{{k['clintName']}}</p></a> 
        </div>
        <div class="col-md-2 my-auto">
            <!-- dish name -->
            <p>{{k['dishName']}}</p>
        </div>
        <div class="col-md-2 my-auto">
            <!-- dish icon -->
            <img class="rounded " src="{{ k['dishImageUri'] }}" alt="image" width="30px" height="30px">
        </div>
        <div class="col-md-1 my-auto text-center">
            <!-- quantity -->
            <p>{{k['dishQuantity']}}</p>
        </div>
        <div class="col-md-2 my-auto text-center">
            <!-- quantity -->
            <p>{{k['clintLocation']}}</p>
        </div>
        
        <div class="col-md-2 my-auto text-center">
            {% if k['accepted'] == true %}

                {% if k['completed'] %}
                    <button class="btn btn-success smgd" disabled >Completed</button>
                {% else %}
                    <button class="btn btn-success smgd" disabled >Accepted </button>
                {% endif %}
    
            {% else %}

                {% if k['cancelled'] %}
                    <button class="btn btn-danger smgd" disabled >Cancelled</button>
                {% else %}
                    <button class="btn btn-info btn-outline-info smgd" value="{{k['clintUID'] + k['orderTime']}}" > Accept  </button>
                {% endif %}
                
            {% endif %}
        </div>    
    
    </div>

{% endfor %}


<script type="text/javascript">
$(document).ready(function() {

$( "button" ).click(function() {
    var data = $(this).val();
    var self = $(this);
    console.log(data)
    $.ajax({
            url: '/accept_process',
            datatype : 'application/json;charset=UTF-8',
			data: {"data": data},
			type: 'POST',
			success: function(response){
                console.log(response);
                self.removeClass("btn-info btn-outline-info").addClass("btn-success");
                self.attr('disabled' , 'disabled').text("Accepted");
			},
			error: function(error){
				console.log(error);
			}
		});
});

      var page = $("#Order");
      $(".nav-item").removeClass("active");
      page.addClass("active")

});
</script>





{% endblock %}