{% extends "layout.html" %}
{% block content %}

<h1 class="mt-5" > <b>Foods List</b> </h1>

<div class="row mt-3">

    {% for k,v in data.items() %}
    <div class="col-md-4 mt-3">
        
        <div class="card" style="width: 18rem;">
            <img class="card-img-top bg-danger" src="{{ v['foodImageUri'] }}" alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">{{ v['foodName'] }}</h5>
              {% if v['availability'] %}
              <button class="btn btn-success" itemName="{{ v['foodName'] }}" con="t" disabled>Available</button>
              <button class="btn btn-outline-primary"  itemName="{{ v['foodName'] }}" con="f" > Not Available</button>
              {% else %}
              <button class="btn btn-outline-success" itemName="{{ v['foodName'] }}" con="t" >Available</button>
              <button class="btn btn-primary "  itemName="{{ v['foodName'] }}" con="f" disabled > Not Available</button>
              {% endif %}
            </div>
          </div>
        
    </div>
    {% endfor %}

</div>


<script type="text/javascript">
  $(document).ready(function() {
  

  $( "button" ).click(function() {
      var self = $(this);
      var itemName = $(this).attr("itemName");
      var con = $(this).attr("con");
      var condition = false;
      if(con == "t")
      {
        condition = true;
      }
      else{
        condition = false;
      }

      $.ajax({
              url: '/foods_list/availability',
              datatype : 'application/json;charset=UTF-8',
              data: {"itemName": itemName, "condition" : condition },
              type: 'POST',
              success: function(response)
              {
                
                  var res =  JSON.parse(response);
                  var con = res['condition']
                  console.log(con)
                  if(con)
                  {
                    
                  }
                  else
                  {
                    
                  }
              },
              error: function(error)
              {
                    console.log(error);
              }
            });
  });
  
      var page = $("#foods_list");
      $(".nav-item").removeClass("active");
      page.addClass("active")


  });
  </script>
  


{% endblock %}