{% extends "layout.html" %}

{% block content %}


<div class="row mt-5">

    <div class="col-md-2">
        <!-- Image -->
        <img src="{{ profile['image'] }}" alt="Profile Image" class="rounded-circle" width="150px" height="150px">
    </div>
    <div class="col-md-3">

        <div class="row mt-5">
            <div class="col-md-12">
               <h5><b>{{ profile['name'] }}</b></h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p>{{ profile['email'] }}</p>
            </div>
        </div>

    </div>

</div>



<div class="row mt-5 h-100 justify-content-center align-items-center">

    
    <div class="col-md-3 col-sm-4 my-auto text-center border">
        <!-- dish name -->
        <p ><b>Dish</b></p>
    </div>
    <!-- <div class="col-md-2 my-auto ">
         dish icon
        <b></b>
    </div> -->
    <div class="col-md-1 col-sm-1 my-auto text-center border">
        <!-- quantity -->
        <p><b>Quantity</b></p>
    </div>
    <div class="col-md-5 col-sm-2 my-auto text-center border">
        <!-- quantity -->
        <p><b>Location</b></p>
    </div>
    
    <div class="col-md-3 col-sm-2 my-auto text-center border">
        <p><b>Action</b></p>
    </div>    

</div>



{% for k, v in orders.items()|reverse %}
       
<div class="row mt-3 h-100 justify-content-center align-items-center">

    <div class="col-md-1 my-auto">
        <!-- dish icon -->
        <img class="rounded " src="../static/images/food_icon/{{v['dishName']}}.png" alt="image" width="30px" height="30px">
    </div>

    <div class="col-md-2 my-auto">
        <!-- dish name -->
        <p>{{v['dishName']}}</p>
    </div>
    
    <div class="col-md-1 my-auto text-center">
        <!-- quantity -->
        <p>{{v['dishQuantity']}}</p>
    </div>
    <div class="col-md-5 my-auto text-center">
        <!-- quantity -->
        <p>{{v['clintLocation']}}</p>
    </div>
    
    <div class="col-md-3 my-auto text-center">
        {% if v['accepted'] == true %}

            {% if v['completed'] %}
                <button class="btn btn-success smgd" disabled >Completed</button>
            {% else %}
                <button class="btn btn-success smgd" disabled >Accepted </button>
            {% endif %}

        {% else %}

            {% if v['cancelled'] %}
                <button class="btn btn-danger smgd" disabled >Cancelled</button>
            {% else %}
                <button class="btn btn-info btn-outline-info smgd" value="{{v['clintUID'] + v['orderTime']}}" > Accept  </button>
            {% endif %}
            
        {% endif %}
    </div>    

</div>

{% endfor %}



{% endblock content %}